<div class="footerBody">
    <div class="contain1">
        <div class="itemLogo">
            <div class="logoHeaderImg" style="height: 100%; width: 50%; display: flex; align-items: center;">
                <img style="height: 70%;" routerLink="/landing-page" src="../../../assets/images/logo-header.png" alt="koma-logo">
              </div>
        </div>

        <div class="item1">
            <h1>KOMA</h1>
            <h3>Jl. Kyai H. Syahdan No.9, Kemanggisan, Kec. Palmerah, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11480</h3>
        </div>
        <div class="item2">
            <h1>Lokasi</h1>
            <h3>Jakarta</h3>
            <h3>Tanggerang</h3>
        </div>
        <div class="item3">
            <h1>Hubungi Kami</h1>
            <div class="flex-row">
                <img src="../../../assets/images/logoEmail.png" alt="logoEmail">
                <h3>{{email}}</h3>
            </div>
            <div class="flex-row">
                <img src="../../../assets/images/logoWa.png" alt="logoWA">
                <h3>+6280123456789</h3>
            </div>
        </div>
        <div class="item4">
            <h1>Sosial Media</h1>
            <div class="flex-row">
                <img src="../../../assets/images/logoIg.png" alt="logo-ig">
                <img src="../../../assets/images/logoX.png" alt="logo-x">
                <img src="../../../assets/images/logoFb.png" alt="logo-fb">
                <img src="../../../assets/images/logoTk.png" alt="logo-tk">
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="contain2">
        <h1>{{creds}}</h1>
    </div>
</div>
